<div class="container-fill" ng-init="initializeView()">
<span><h3>
Users List
<!-- <img src="assets/images/new-24-128.png"  style="float:right;max-width:30px"/> --> 
<!-- <button type="button" class="btn btn-default btn-sm" style="float:right;">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button> -->
        <a class="btn btn-info btn-sm" style="float:right;" ng-click="open()">
          <span class="glyphicon glyphicon-pencil"></span> Edit 
        </a>  
        <a class="btn btn-info btn-sm" style="float:right;margin-right: 1%;" ng-click="open()">
          <span class="glyphicon glyphicon-plus"></span> Add
        </a>
<!-- <img src="assets/images/user-add-128.png"  style="float:right;max-width:30px"/>
 --></h3> </span>
<table class="table table-striped table-bordered" style="overflow-x:auto;background-color:#81F7F3">
<th></th>	
<th ng-repeat="emp in ::empFields">{{::emp}}</th>
 <tr ng-repeat="user in ::users">
<td><input type="radio" id="checkitem" name="optradio" ng-click="toggleRadioBtn(user)"/></td>
<td>
{{::user.id}}
</td>
<td>
{{::user.fname}}
</td>
<td>
{{::user.lname}}
</td>
<td>
{{::user.dob}}
</td>
<td>
{{::user.gender.name}}
</td>
<td>
{{::user.designation.name}}
</td>
<td>
{{::user.salary}}
</td>
</tr>

</table>

</div>